{% extends 'base.html' %}
{% load static %}

{% block title %}ホームページ{% endblock %}

{% block extra_head %}
<link rel="stylesheet" href="{% static 'style/index.css' %}">
{% endblock %}

{% block content %}

<div class="category-container">
    <h1 class="title">商品カテゴリへようこそ！</h1>
    <p class="description">カテゴリを選択して、レビューを見たり投稿したりしましょう。</p>
    <h2 class="subtitle">カテゴリ一覧</h2>
    <ul class="category-list">
        {% for category in categories %}
        <li class="category-item">
            <a href="{% url 'category_products' category.id %}" class="category-link">
                <div class="category-card">
                    <span class="category-name">{{ category.name }}</span>
                </div>
            </a>
        </li>
        {% endfor %}
    </ul>
</div>

{% endblock %}
